/*  @author - Shiv Bhagat : https://github.com/shivxbhagat/  */

html,
body {
	scroll-behavior: smooth;
	color: #200800;
	font-family: Roboto;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

section {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

textarea {
	width: 85%;
	height: 70%;
	padding: 10px;
	margin-bottom: 20px;
	font-size: 1rem;
}

.header {
	padding: 10px;
	display: flex;
}

.header h1,
.header i {
	margin: 0;
	padding: 0;
}

.header h1 {
	margin-bottom: 20px;
}

.header i {
	margin-left: 30px;
	padding-top: 5px;
	font-size: larger;
}

.header i:hover {
	cursor: pointer;
}

.btn-group {
	margin-bottom: 0.75rem;
}

.button {
	text-decoration: none;
	font-size: 0.9411764706rem;
	color: #200800;
	font-weight: 500;
	appearance: none;
	border: none;
	border-radius: 4px;
	padding: 1em 1.5em;
	background-color: #f2a900;
	display: inline-block;
	cursor: pointer;
	transition: all 0.15s ease-in-out;
	border-color: #f2a900;
	text-align: center;
	line-height: 1.1em;
	font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
	min-width: 60px;
}

.button--blue {
	background-color: #385e9d;
	color: #fff;
	border-color: #385e9d;
}

.button:hover {
	background-color: #ffba1c;
}

.button--blue:hover {
	background-color: #4370bb;
}

#input-section {
	margin-bottom: 0.75rem;
}

footer {
	background-color: #f1f1f1;
	color: #200800;
	text-align: center;
	padding: 10px;
	bottom: 0;
	left: 0;
}

#a-github,
#a-email,
#a-uofm {
	text-decoration: none;
	color: #200800;
	cursor: pointer;
	font-weight: bold;
	text-decoration: underline;
	transition: all 0.2s ease-in-out;
}

#a-github:hover,
#a-email:hover,
#a-uofm:hover {
	text-decoration: none;
}

#a-versions {
	text-decoration: none;
	color: #200800;
	cursor: pointer;
	font-weight: bold;
}
